h1{
    color: #004346;
    text-align: center;
}

.description {
    width: 50%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: 50px;    
}

.foto{
    width: 150px;
    border-radius: 100%;
    margin-left: 2%;
    display: inline-block;
}

body{
    background-color: rgb(9, 188, 139);
    font-family: Pangolin, cursive;
}